<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="opentuner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <opentuner.Properties.Settings>
            <setting name="tuner1_default_lo" serializeAs="String">
                <value>9750000</value>
            </setting>
            <setting name="default_lnb_supply" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="media_snapshot_path" serializeAs="String">
                <value />
            </setting>
            <setting name="enable_qo100_spectrum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tuner2_default_lo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default_volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="chat_nick" serializeAs="String">
                <value />
            </setting>
            <setting name="wbchat_width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wbchat_height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wbchat_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="window_width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="window_height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="window_x" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="window_y" serializeAs="String">
                <value>-1</value>
            </setting>
        </opentuner.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>