<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="opentuner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <opentuner.Properties.Settings>
            <setting name="tuner1_default_lo" serializeAs="String">
                <value>9750000</value>
            </setting>
            <setting name="default_lnb_supply" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="media_snapshot_path" serializeAs="String">
                <value />
            </setting>
            <setting name="enable_qo100_spectrum" serializeAs="String">
                <value>True</value>
            </setting>
        </opentuner.Properties.Settings>
    </userSettings>
</configuration>